Source: bash-config
Section: admin
Priority: optional
Maintainer: dolphin oracle <dolphinoracle@gmail.com>
Build-Depends: debhelper (>=10), qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, qt6-tools-dev-tools
Standards-Version: 3.9.5
Vcs-Git: git://github.com/mxlinux/mx-bashrc-config.git

Package: bash-config
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bash Config
 Provides a gui for configuring bash aliases and prompt theming
